body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1{   
        margin-top: 10px;
        color: #fff;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        border-radius: 5px;
        padding: 10px 50px;
        border: none;
        font-size: 18pt;
        font-weight: 600;
    }
    .img1{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input[type=file]::file-selector-button {
        margin-right: 20px;
        border: none;
        background: #084cdf;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background .2s ease-in-out;
      }
      
      input[type=file]::file-selector-button:hover {
        background: #0d45a5;
      }
